.Posts {
    background-color: rgba(0, 0, 0, 0.12);
    height: 100%;
    flex-grow: 1;
}

.Post {
    background-color: white;
    margin-top: 12px;
}

.Posts__Panel .Panel__in {
    display: flex;
    flex-direction: column;

}

.Post .Avatar {
    padding-right: 8px;
}

.MapIcon {
    background-color: #4986CC;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    color: white;
}
